#container1>#contant{
    width: 700px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    margin-top: 20px;
    margin-bottom: 50px;
}
#container1>#contant h3{
    font-size: 30px;
    margin-top: 20px;
}
#container1 #inputsMonths{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    row-gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#inputsMonths input{
    width: 220px;
    height: 50px;
    font-size: 26px;   
    background-color: rgb(158 41 122);
    color: white;
    border: none;
    border-radius: 10px;
    text-shadow: 1px 1px 3px black;
}
#container1 #inputsDays{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#container1 #inputsDays input{
    width: 70px;
    height: 50px;
    font-size: 26px;   
    background-color: rgb(158 41 122);
    color: white;
    border: none;
    border-radius: 10px;
    text-shadow: 1px 1px 3px black;
}
#container1 #inputsYears{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#container1 #inputsYears input{
    width: 150px;
    height: 50px;
    font-size: 26px;   
    background-color: rgb(158 41 122);
    color: white;
    border: none;
    border-radius: 10px;
    text-shadow: 1px 1px 3px black;
}
#container1 #divStart{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#divStart h4{
    width: 50%;
    text-align: left;
    font-weight: 500;
    margin-bottom: 10px;
}
#divStart input{
    width: 50%;
    padding: 10px;
}
#divStart button{
    margin: 50px;
    background: #008000d3;
    padding: 10px 55px;
    color: #ffffff;
    text-shadow: 1px 2px 3px black;
    border-radius: 5px;
    outline: none;
    outline-offset: 0;
    width: auto;
    box-shadow: none;
    font-size: 26px;
}
#container1 p{
    width: 80%;
    font-size: 26px;
    margin-bottom: 50px;
}
#contantAnimation{
    display: none;
    border: 2px solid #bbbbbb;
    border-radius: 15px;
    width: 98%;
    margin-bottom: 20px;
    height: 250px;
}
#contantAnimation table{
    padding: 10px;
}
#tableBorn td{
    width: 50px;
    opacity: 0;
    font-size: 18px;
    padding: 8px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    transition: .5s;
    
}
#tableBorn .info{
    width: 120px;
    background-color: rgba(220, 92, 137, 0.7);
}
#tableBorn .info>div{
    height: 20px;
    padding-top: 20px;
    overflow: hidden;
    transition: .5s;
}

@media (max-width: 1200px){
    #container1{
        width: 850px;
    }
} 
@media (max-width: 900px){
    #container1{
        width: 750px;
    }
} 
@media (max-width: 800px) {
    #container1{
        width: 580px;
    }
    #container1 h1{
        font-size: 33px;
    }
    #container1 h2{
        font-size: 28px;
    }
    #container1>#contant{
        width: 550px;
    }
    #container1 #inputsMonths input{
        width: 180px;
    }
    #container1 #inputsDays input{
        width: 50px;
    }
    #container1 #inputsYears input{
        width: 130px;
        font-size: 23px;
    }
    #tableBorn td{
        font-size: 16px;
    }
    #tableBorn .info{
        width: 80px;
    }
}
@media (max-width: 600px) {
    #container1{
        width: 500px;
    }
    #container1 h1{
        font-size: 28px;
    }
    #container1 h2{
        font-size: 26px;
    }
    #container1>#contant{
        width: 400px;
    }
    #inputsMonths input{
        font-size: 20px;
    }
    #container1 #inputsMonths input{
        width: 130px;
    }
    #container1 #inputsDays input{
        width: 40px;
        height: 40px;
        font-size: 18px;
    }
    #container1 #inputsYears input{
        width: 70px;
        font-size: 18px;
    }
    #container1>#contant h3{
        font-size: 25px;
    }
}
@media (max-width: 550px) {
    #container1{
        width: 430px;
    }
    #container1 h1{
        font-size: 24px;
    }
    #container1 h2{
        font-size: 22px;
    }
    #container1 #inputsYears input{
        width: 50px;
        height: 30px;
        font-size: 16px;
    }
    #container1>#contant h3{
        font-size: 20px;
    }
    #tableBorn td{
        font-size: 15px;
    }
    #tableBorn .info{
        width: 50px;
    }
}
@media (max-width: 450px) {
    #container1 #inputsDays input{
        width: 340px;
        height: 30px;
        font-size: 16px;
    }
    #container1{
        width: 300px;
    }
    #container1 h1{
        font-size: 17px;
    }
    #container1 h2{
        font-size: 16px;
    }
    #container1>#contant{
        width: 300px;
    }
    #tableBorn td{
        width: 20px;
        font-size: 13px;
    }
    #container1 #inputsMonths input{
        width: 98px;
        font-size: 18px;
    }
}