#container3{
    margin-top: 30px;
    display: none;
}
#container3>div, #mc_embed_signup_scroll{
    margin-top: 20px;
    width: 900px;
    display: flex;
    justify-content: space-between;
}
#container3 p{
    font-size: 20px;
    text-align: left;
}
#container3 .titleInput{
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: aqua;
}
#container3 .titleInput span{
    white-space: nowrap;
    margin-right: 10px;
}
#container3 .num{
    width: 20px;
    height: 20px;
    margin-right: 0px !important;
    color: black;
    background-color: aqua;
    border-radius: 50%;
    font-weight: 600;
}
#container3 .titleInput hr{
    width: 120px;
    height: 1px;
    border-color: aqua;
    display: flex;
}
#container3 select{
    width: 100%;
    padding: 10px 20px;
    margin-top: 15px;
}
#container3 input{
    width: 100%;
    padding: 10px 20px;
    margin-top: 15px;
}
#container3 #btnContinueForm,#container3 #mc-embedded-subscribe{
    width: 290px;
    padding: 7px;
    margin-top: 15px;
    background-color: rgb(158 41 122);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    border: 2px solid rgb(85, 10, 62);
}
@media (max-width: 1200px){
    #container3{
        width: 850px;
    }
    #container3>div, #mc_embed_signup_scroll{
        width: 800px;
    }
    #container3 .titleInput hr{
        width: 80px;
    }
} 
@media (max-width: 950px){
    #container3{
        width: 780px;
    }
    #container3>div, #mc_embed_signup_scroll{
        width: 750px;
    }
    #container3 .titleInput hr{
        width: 50px;
    }
} 
@media (max-width: 800px){
    #container3{
        width: 100%;
    }
    #container3>div, #mc_embed_signup_scroll{
        width: 90%;
        flex-direction: column;
    }
    #container3 .titleInput hr{
        width: 630px;
    }
}
@media (max-width: 700px){
    #container3 .titleInput hr{
        width: 530px;
    }
}
@media (max-width: 600px){
    #container3 .titleInput hr{
        width: 440px;
    }
    #container3 p{
        font-size: 16px;
    }
}
@media (max-width: 500px){
    #container3 .titleInput hr{
        width: 340px;
    }
}
@media (max-width: 400px){
    #container3 .titleInput hr{
        width: 250px;
    }
}