*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100vw;
    overflow-x: hidden;
}

header{
    width: 100%;
    height: 70px;
    border-top: 3px solid #a41c84;
    background: linear-gradient(to bottom, #001c31 36%, #17143f 93%);
    display: flex;
    justify-content: center;
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url("../images/bg1.png");
}

section#inputs{
    width: 100%;
}
