#subtitle{
    position: fixed;
    width: 80vw;
    color: white;
    bottom: 50px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px 70px;
    font-size: 20px;
    text-align: center;
    display: none;
}
#playAndStop{
    position: absolute;
    top: -60px;
    right: 10px;
    display: flex;
    z-index: 100;
}
#playAndStop button{
    border-radius: 25px;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
#muteAndDesmute{
    position: absolute;
    top: -60px;
    right: 60px;
    display: flex;
    z-index: 100;
}
#muteAndDesmute button{
    border-radius: 25px;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
@media (max-width: 750px){
    #subtitle{
        width: 95%;
    }
}
@media (max-width: 650px){
    #subtitle{
        padding: 30px 20px;
    }
}
@media (max-width: 550px){
    #subtitle{
        font-size: 16px;
    }
}